* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  text-align: center;
  display: none;
}

.container {
  width: 80%;
  margin: auto;
}

.buttons-box {
  width: 80px;
  margin: auto;
}

.current {
  display: block;
}

.dots-box {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dots-box i {
  font-size: 20px;
  padding: 0 5px;
  color: #fff;
}

.next-box i,
.prev-box i {
  font-size: 26px;
  padding: 0 10px;
}

.next-box i:hover,
.prev-box i:hover {
  color: #666;
  cursor: pointer;
}

.slider-box {
  margin-top: 100px;
  display: flex;
    justify-content: center;
    align-items: center;
  position: relative;
}
